@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&family=Rubik:wght@300;400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}
.form{
    width: 400px;
    min-height: 400px;
    padding: 32px;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    user-select: none;
}
.form img{
    display: block;
    margin: auto;
}
h1{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
    margin-top: 10px;
}
.form-group{
    height: 48px;
    margin-bottom: 20px;
    position: relative;
}
.form-control{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: none;
    border:1px solid #a1a1a1;
    outline: none;
    padding: 13px;
    border-radius: 3px;
    z-index: 1;
}
.form-label{
    position: absolute;
    top: 13px;
    left: 13px;
    color: #a1a1a1;
    padding: 0 6px;
    font-size: 14px;
    transition: .3sm;
    background-color: white;

}
.form-control:focus+ .form-label{
    top: -8px ;
    z-index: 10;
    color: blue;
    font-weight: 600;
    
}
.form-control:focus{
    border: 2px solid blue;
}
.form-control:not(:focus):valid+ .form-label{
    top: -8px ;
    z-index: 10;
}
.check-label{
    font-weight: 500;
    font-size: 14px;
}
.bottom-box{
    margin-top: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.bottom-box a{
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
}
.bottom-button{
    padding: 8px 34px;
    background: blue;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    transition: .3s;
}
.bottom-button:hover{
    box-shadow:0 10px 36px rgba(0, 0, 0, 0.15)
}



